HTML uses tags to identify page content. This text, for example, is a paragraph.<p lang="en">HTML uses tags to identify page content. <em>This text, for example, is a <strong>paragraph</strong></em></p>